/* agregando color de borde de los input al ser precionado*/
.form-control:focus{
    border-color: #101110!important; /* Cambia el color del borde */
    box-shadow: 0 0 0 0.2rem rgba(2, 2, 2, 0.30)!important; /* Añade un resplandor alrededor del borde */
    outline: none!important; /* Elimina el borde de enfoque predeterminado */
}


/* agregando medidas y sombras al contenedor de los formularios */
.custom-container{
    width: 90%!important;
    max-width: 500px!important;
    border: 2px solid #000;
    padding: 20px 40px!important;
    margin-top: 10px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px!important;
}